/* .table-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  background: #f6f6f6;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin: 1px;
  width: 224px;
  height: 43px;
}

.td-worker-name {
  width: 303px;
}

.td-id {
  width: 160px;
  padding-right: 15px;
} */

.table-container {
  /* position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table thead,
table tbody,
table tr { width: 100%; }

table td {
  background: #f6f6f6;
  /* font-family: "Rubik"; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.03rem;
  border: 2px solid #fff;
  text-transform: capitalize;
  padding: .5rem;
  transition: .4s all ease-in-out;
}

table tbody tr:hover td {
  /* background-color: rgb(40, 160, 249, .4); */
  color: #fff;
  background-color: #269FF8;
}

table th {
  text-transform: uppercase;
  padding: .5rem;
}

table td:nth-last-child(n-1) { 
  text-align: center; 
}

table td.drag { 
  cursor: grab;
}

@media screen and (max-width: 600px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  table td.drag { display: none; }
}


iframe {
  /* position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 2147483647; */
    display: none;
}